body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#startTime{
    justify-content: center;
}

#btn2 {
    display: none;
}

#offMonth3 {
    background-color: blue;
}